#  Cache
__pycache__/

#  Editor settings
.vscode

#  Packages & Build
.DS_Store
node_modules
dist/
build/

# User defined
backend/data
alexParser.py

# local env files
.env.local
.env.*.local

*.sqlite3
*.db
